

.select__placeholder {
    color: #9a9a9a !important;
    font-weight: 500;
  }

.dailog-header{
    font-weight: 600 !important;
    color: #610aa4;
}


.asyncSelect .select__menu-list{
    /* max-height: 200px; */
    padding-bottom: 0px;
}
.select__option--is-disabled{
    padding:0 !important;
    outline:none !important;
}
.LoadMoreButton{
    cursor:pointer;
    display:flex;
    justify-content: space-around;
}
.LoadMoreButton > div {
    padding: 19px !important;
    width: 50%;
    text-align: center;
    border-top: 1px solid #0000002e;
    color: #00000070;

}
.LoadMoreButton > div:hover{
    background: #deebff;
}
.ASIN{
    width:50%;
}
.LoadMoreButton .prevCustom{
    border-right: 1px solid #0000002e;
}

.LoadMoreButton .nextCustom{
}